<div class="row">
  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked flow">
      <li ng-repeat="post in posts">
        <a ng-click="details($index)">{{post.title}}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-8 flow" ng-model="post">
    <h2><a ng-href="{{post.url}}">{{post.title}}</a></h2>
    <h3>{{post.subreddit}}</h3>
    <div ng-if="selftext" ng-src="{{selftext}}" />
    <img class="img" ng-if="image" ng-src="{{image}}" /> 
    <div ng-if="embed" ng-bind-html="embed"></div>
  </div>
</div>